## Tuple

In [1]:
#The collection of objects in the normal braces

In [2]:
t1=(1,2,3,4,"hasdhasd",True)

In [3]:
t1

(1, 2, 3, 4, 'hasdhasd', True)

In [5]:
type(t1)

tuple

In [6]:
t1[::-1]

(True, 'hasdhasd', 4, 3, 2, 1)

In [8]:
t1[-1]

True

In [18]:
t1

(1, 2, 3, 4, 'hasdhasd', True)

In [10]:
t1[0::2]

(1, 3, 'hasdhasd')

In [11]:
t1[0]="Haider"

#The tuple values cannot be reassigned (Immutable)

TypeError: 'tuple' object does not support item assignment

In [12]:
t2=(23,325,25,"sdf")

##

In [13]:
t2

(23, 325, 25, 'sdf')

In [14]:
#append operations of tuples
t1+t2

(1, 2, 3, 4, 'hasdhasd', True, 23, 325, 25, 'sdf')

In [15]:
t1*2 #same values are copied twice

(1, 2, 3, 4, 'hasdhasd', True, 1, 2, 3, 4, 'hasdhasd', True)

In [20]:
t1.count(0)

0

In [21]:
t1.index()

TypeError: index expected at least 1 argument, got 0

In [22]:
t1.index(3)

2

## Set

The collection of objects in the the curly braces

In [23]:
s1={1,2,3}

In [24]:
type(s1)

set

In [25]:
s2={}

In [26]:
type(s2)

dict

In [27]:
#if there are no values inside the braces then the object type is curly braces

In [28]:
#set does not allow the duplicates

s3={1,2,3,3,4,5,6,6,6}

In [29]:
s3

{1, 2, 3, 4, 5, 6}

In [30]:
s3[0]

TypeError: 'set' object is not subscriptable

## The objects are unorderd therefore cannot be indexed, Then how to access the objects?

In [32]:
list(s3) #now can be accessed using the index now the property of the set is gone

[1, 2, 3, 4, 5, 6]

In [33]:
s3

{1, 2, 3, 4, 5, 6}

In [34]:
s3.add("kumar")

In [35]:
s3

{1, 2, 3, 4, 5, 6, 'kumar'}

In [36]:
s3.add([1,24,4,5])

TypeError: unhashable type: 'list'

In [ ]:
#we cannot add the list inside the set because list is order collection of items. Means list are immutable

In [37]:
s3.add((1,2,3)) #tuples are allowed

In [38]:
s3

{(1, 2, 3), 1, 2, 3, 4, 5, 6, 'kumar'}

In [39]:
s3.copy()

{(1, 2, 3), 1, 2, 3, 4, 5, 6, 'kumar'}

In [40]:
s3.remove(1) #removes the mentioned element but not from nested collection

In [41]:
s3

{(1, 2, 3), 2, 3, 4, 5, 6, 'kumar'}

In [42]:
s3.discard(2)

In [43]:
s3

{(1, 2, 3), 3, 4, 5, 6, 'kumar'}

In [45]:
s3.discard(45)

In [46]:
s3

{(1, 2, 3), 3, 4, 5, 6, 'kumar'}

In [47]:
s3.remove(45) #remove gives an error if the element is not found

KeyError: 45

## Dictionary
The collection of the items in key value fashion inside curly braces

In [48]:
d={}

In [49]:
type(d)

dict

In [51]:
d={'name':'Haider', 'Mob':'998654775', 45:[4,54,68]}

In [52]:
d

{'name': 'Haider', 'Mob': '998654775', 45: [4, 54, 68]}

In [53]:
d.keys

In [56]:
d['name']  #the values are accessed with the help of key but not with indexes

'Haider'

In [57]:
d[45]

[4, 54, 68]

In [58]:
type(d[45])

list

In [ ]:
#the keys must not be special characters

In [ ]:
#when the keys are duplicated it will hold the latest value and not the old one

In [60]:
d1={'name': 'Haider', 'Mob': '998654775', 45: [4, 54, 68],'name':'kumar'}

In [62]:
d1['name'] #second balue is printed

'kumar'

In [ ]:
#the values may be duplicate.

In [65]:
d2={'name': 'Haider', 'Mob': '998654775', 45: [4, 54, 68],'firstname':'Haider'}

In [67]:
d2['firstname']

'Haider'

In [68]:
d2.items()

dict_items([('name', 'Haider'), ('Mob', '998654775'), (45, [4, 54, 68]), ('firstname', 'Haider')])

In [70]:
#adding an item to the dictionary

d2['city']='Ranchi'

In [71]:
d2

{'name': 'Haider',
 'Mob': '998654775',
 45: [4, 54, 68],
 'firstname': 'Haider',
 'city': 'Ranchi'}

In [73]:
#deleting a key
del d2['name']

In [74]:
d2

{'Mob': '998654775', 45: [4, 54, 68], 'firstname': 'Haider', 'city': 'Ranchi'}

In [75]:
d

{'name': 'Haider', 'Mob': '998654775', 45: [4, 54, 68]}

In [76]:
del d

In [77]:
d

NameError: name 'd' is not defined

In [ ]:
#NameError: name 'd' is not defined, as the dictionary is deleted

In [79]:
#can we use list as a key?

#ans: NO
d3={['Mob', 123]:654775}

TypeError: unhashable type: 'list'

In [80]:
#however tuples will work as it is immutable element

d4={('Mob', 123):654775}

In [81]:
d4

{('Mob', 123): 654775}

In [82]:
d2

{'Mob': '998654775', 45: [4, 54, 68], 'firstname': 'Haider', 'city': 'Ranchi'}

In [83]:
d2.get("Mob")

'998654775'

In [84]:
d2.fromkeys('45')

{'4': None, '5': None}

In [85]:
d2.update(d1)  #it appends

In [86]:
d1

{'name': 'kumar', 'Mob': '998654775', 45: [4, 54, 68]}

In [87]:
d2.values()

dict_values(['998654775', [4, 54, 68], 'Haider', 'Ranchi', 'kumar'])

In [88]:
d2 + d2 #cannot add therefore we have update function

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [89]:
pwd()

'D:\\GitHub\\Projects\\Ineuron-Assignments'