## Qurratulain Haider:Full Stack Developer Nov 27Th Batch

## 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

* 
'hello'
-87.8
- 
/ 
+
6

Answer: 

* -- Expression (Multiplication)
'hello' -- String
-87.8  -- Float
- #expression
/  --Expression 
+  -- Expression 
6  -- Integer

## 2. What is the difference between string and variable?
## Answer: 
String : String is a datatype in Python. It is enclosed inside the single or double quotes. 
eg : "Hello World", "Hi, I'm good", "2325", 'Thank you'

Variable : Is is the memory allocated to store the values. The values can be used multiple times in a code for various operations by calling the variable it is assigned to. The variables enables us to reuse a value for multiple times. 

eg:

name="Kumar"
a=12
b=23.45 etc

## 3. Describe three different data types.

## Answer:
## 1. Number.

The number data types in Python are basically of 3 types. Integer, float and Complex Numbers
Integers are whole numbers without decimal whereas the float contains a number with decimal . 

Besides Integer and Float the complex numbers have two parts real and imaginary numbers.

Eg:

12 --- Integer
12.25 --Float
12+4j ---Complex


## 2.Boolean:
The Boolean data type in python  holds two types of predefined values True and False. Boolean can be used to evalaute non boolean or boolean data types expressions where it returns True or False based upon the condition.

## 3.Set:
 Set is a collection of unordered data types. It is represented in curly braces. Set is immutable .The items inside the set not indexed therefore it cannot be accessed using indices.

## 4. What is an expression made up of? What do all expressions do?

## Answer:
An expression is made up of various mathematical operators. The expression is used to evaluate some outcome from given set of values or conditions. 

Eg:

(1+3) * (3/4) + (2**3)

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

## Answer

Expression: The expression evaluates for any kind of outcome like float, integer and boolean .

Statement: A statement can hold some value (like variable) or can be used to evaluate a Boolean Value

## 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

## Answer:
It contains the value 22. Ran the code below. We are just incrementing the value by 1 but not storing the new value in the varibale bacon

In [2]:
bacon=22
bacon +1

23

In [3]:
bacon

22

## 7. What should the values of the following two terms be?
'spam' + 'spamspam'


'spam' * 3

## Answer: 
The output in both cases will be 'spamspamspam'. Please check the output below

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

## Answer

Python allows a string value should be assigned as a variable but and integer cannot be assigned to as variable.
We we keep 100 as a variable it will throw "SyntaxError: cannot assign to literal" error. Refer the output below

In [9]:
eggs=10

In [14]:
100="Century"

SyntaxError: cannot assign to literal (<ipython-input-14-0fcb9fa005f2>, line 1)

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

## Ans

int()

float()

str()

## 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

## Ans

Only str data types can be concatenated.We can change the int to str and then concatenate

In [11]:
#errornours code

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [12]:
#Solution
'I have eaten ' + str (99) + ' burritos.'

'I have eaten 99 burritos.'